.arrow {
    height: 16px;
    background-color: red;
  }

  .arrow:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -40px;  /* Adjust this according to your needs */
    margin-left: -32px;  /* Adjust this according to your needs */
    width: 0;
    height: 0;
    border: 40px solid transparent;  /* Make this larger for a larger arrowhead */  
    border-left-color: red;
    transform: rotate(0deg);
  }  

  .arrow.shackled {
    background-color: yellow;
  }
  
  .arrow.shackled:after {
    border-left-color: yellow;
  }

  .arrow.silenced {
    background-color: white;
  }

  .arrow.silenced:after {
    border-left-color: white;
  }  

  .arrow.healed {
    background-color: green;
  }
  
  .arrow.healed:after {
    border-left-color: green;
  }    

  .arrow.switchLanes {
    background-color: blue;
  }

  .arrow.switchLanes:after {
    border-left-color: blue;
  }